
.space{
    padding: 12px; 
   
}

.bg-primary{
    border-radius: 0.5rem;
    
}
.place{
    padding: 10px;
}
.btn {
    width: 100%;
}
.btn::hover{
    background-color: white;
    color: #000000;
}

